*/bin/*
bin/

*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/

# Intellij
.idea/
*.iml
*.iws

# Gradle
.gradle/
!gradle-wrapper.jar

# Maven
target/

# Build
build/

node_modules/